version: "3.8"

services:
  app:
    build: .
    restart: unless-stopped
    volumes:
      - atlas-config:/app/config
    networks:
      mineplay-network:
        aliases:
          - atlas-web
    environment:
      NODE_ENV: "production"
    depends_on:
      postgres:
        condition: service_healthy
      atlas:
        condition: service_healthy   

  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    networks:
      mineplay-network:
        aliases:
          - atlas-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  atlas:
    image: ghcr.io/mineplaymc/atlas/atlas:latest
    container_name: atlas-server
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/atlas/atlas.yml:/root/atlas/atlas.yml
      - /root/atlas/groups:/root/atlas/groups
      - /root/atlas/servers:/root/atlas/servers
      - /root/atlas/templates:/root/atlas/templates
      - /root/atlas/data:/root/atlas/data
      - /root/atlas/cache:/root/atlas/cache
      - /root/atlas/logs:/root/atlas/logs
    networks:
      mineplay-network:
        aliases:
          - atlas-server
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f 'java.*atlas' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 12


networks:
  mineplay-network:
    name: mineplay-network
    external: true
    driver: bridge

volumes:
  atlas-config:
    name: atlas-config
  postgres_data:
